@import './../flex.scss';
#contact {
    width: 100%;
    height: 100vh;
    padding: 50px;
    background-color: #84939a;
    color: aliceblue;
    @include flex();
    flex-direction: column;
    justify-content: space-evenly;
    
    h2{
        font-size: 40px;
       border: solid;
    }

    .text4{
        width: 100%;
        @include flex();
        flex-direction: column;
        border: solid;
        p{
            width: 100%;
            text-align: start;
            font-size: 23px;
            border: solid;
            .f{
                background-color: black;
                padding: 7px;
                border: solid;
            }
            .r{
                font-weight: 900;
                font-size: 30px;
                border: solid;
            }
        }

    }
    .inputs{
        width: 100%;
        height: 250px;
        @include flex();
        flex-direction: column;
        justify-content: space-between;
border: solid;
        input{
            width: 100%;
            height: calc(100% / 4);
            color: rgb(131, 128, 128);
            border: solid;
        }
    }
}