@import './../flex.scss';
footer{
    width: 100%;
    height: 200px;
    background-color: black;
    color: aliceblue;
    @include flex();
    p{
        a{
            text-decoration: none;
            color: aliceblue;
        }
    }
}