@import '../flex.scss';

header {
    width: 100%;
    height: 50px;
    border: solid seashell;
    background: rgba(33, 32, 32, 0.567);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    &:hover{
        background-color: black;
    }

    nav {
        width: 30%;
        height: 100%;
        @include flex();
        justify-content: space-around;
        border: solid brown;
        min-width: max-content;

        a {
            text-decoration: none;
            color: rgb(247, 237, 237);
            width: calc(100% / 4);
            height: 100%;
            @include flex();
            border: solid green;
            min-width: max-content;


            &:hover {
                background: rgba(252, 249, 249, 0.942);
                color: black;
            }


        }


    }
}