#LOCATION {
    width: 100%;
    height: 100vh;
    background: url(./../../img/map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(75%);
}